.settingItem {
  display: flex;
  align-items: center;
  color: #fff;
}

.settingItem label {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

/* Toggle Switch Styles */
.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px;
}

.toggleSlider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .toggleSlider {
  background-color: #1976d2;
}

input:checked + .toggleSlider:before {
  transform: translateX(26px);
}